on:
  push:
  pull_request:

name: conformance

jobs:
  check:
    runs-on: ${{ matrix.config.os }}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      _R_CHECK_TESTS_NLINES_: 0
      NOT_CRAN: true
      HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: true
      _R_CHECK_FORCE_SUGGESTS_: false #TODO: drop this for now!
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest, r: 'release'}

    steps:
    
      ## Most of these steps are the same as the ones in
      ## https://github.com/r-lib/actions/blob/master/examples/check-standard.yaml
      ## If they update their steps, we will also need to update ours.
      - name: Checkout Repository
        uses: actions/checkout@v3

      ## pandoc
      - name: Setup pandoc from r-lib
        uses: r-lib/actions/setup-pandoc@v2
          
      ## R is already included in the Bioconductor docker images
      - name: Setup R from r-lib
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          rtools-version: ${{ matrix.config.rtools-version }}
          
      ## remotes, devtools
      - name: Query dependencies
        run: |
          install.packages('remotes')
          install.packages('devtools')
        shell: Rscript {0}
      
      ## BiocManager  
      - name: Install BiocManager
        run: |
          remotes::install_cran("BiocManager")
        shell: Rscript {0}
      
      # All Other dependencies
      - name: Install dependencies
        run: |
          ## Try installing the package dependencies in steps. First the local
          ## dependencies, then any remaining dependencies to avoid the
          ## issues described at
          ## https://stat.ethz.ch/pipermail/bioc-devel/2020-April/016675.html
          ## https://github.com/r-lib/remotes/issues/296
          ## Ideally, all dependencies should get installed in the first pass.
          install.packages(c("rcmdcheck", "BiocCheck", "remotes"), repos = BiocManager::repositories())
          remotes::install_local(dependencies = TRUE, repos = BiocManager::repositories(), build_vignettes = FALSE, upgrade = TRUE)
        shell: Rscript {0}
      
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
          
      - name: "Install testing framework"
        shell: bash
        run: |
          pip install git+https://github.com/clbarnes/ome_zarr_conformance.git
          
      - name: "Run conformance tests"
        shell: bash
        run: |
          ome-zarr-conformance 'Rscript inst/scripts/read_ome_metadata.R '
          exit 0
          
